@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");

html, body {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    color: #dfdfdf;
    background: #121212;
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
